

.WO-container {
    width: 100%;
}

.WO-Table-Wrapper {
    display: flex;
    width: 60%;
    line-height: 25px;
}

.top-elements {
    width: 30%;
    /* background-color: #dbdad5; */
}

.information-add-wrapper {
    font-size: 20px;
}

.info-row {
}

.current-WO-Container {
    background-image: url("img/parchmentPaper.jpg");
    background-size: cover;
    width: 40%;
    position: relative;
    left: 40px;
    border: black;
    border-style: solid;
    font-size: 20px;
}

.work-Orders-list {
    text-align: center;
}

.information-add-wrapper {
    background-color: gray;
    border: black;
    border-style: solid;
    background-image: url("img/wood.jpg");
    background-size: cover;
}

.list-WO {
    text-align: left;
}
